.col-4 {
    height: 300px;
    font-size: 185px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}

.col-4:hover {
    background-color: grey;
}

#case1 {
    border-bottom: 5px dashed #505050;
    border-right: 5px dashed #505050;
}

#case2 {
    border-bottom: 5px dashed #505050;
    border-right: 5px dashed #505050;
    border-left: 5px dashed #505050;
}

#case3 {
    border-bottom: 5px dashed #505050; 
    border-left: 5px dashed #505050;
}

#case4{
    border-bottom: 5px dashed #505050;
    border-right: 5px dashed #505050;
    border-top: 5px dashed #505050;
}

#case5{
    border: 5px dashed #505050;;
}

#case6{
    border-bottom: 5px dashed #505050;
    border-left: 5px dashed #505050;
    border-top: 5px dashed #505050;
}

#case7{
    border-right: 5px dashed #505050;
    border-top: 5px dashed #505050;
}

#case8{
    border-top: 5px dashed #505050;
    border-left: 5px dashed #505050;
    border-right: 5px dashed #505050;
}

#case9{
    border-left: 5px dashed #505050;
    border-top: 5px dashed #505050;
}

body {
    background-color: lightsalmon;
}

.x::before{
    content: "X";
}

.o::before{
    content: "O";
}